body{
    background-color: rgba(250, 247, 244, 0.699);
   }
   
   
   #body {
      width: 80vw;
      margin: auto;
      font-family: "ClashDisplay Regular", sans-serif;
    
    
    }
    
    #content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
    }
    #filters_sort {
      width: 70%;
      display: flex;
      justify-content: space-between;
    }
    #applied_filters {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    #sorting {
      border: none;
      font-family: "ClashDisplay Regular", sans-serif;
      background-color: none;
      width: max-content;
      height: 30px;
      margin: 10px;
      padding: 5px;
      border: 2px solid black;
      border-radius: 5px;
    }
    #heading {
      font-family: "ClashDisplay SemiBold", sans-serif;
      font-size: 32px;
      color:  rgb(255,156,66);
      margin: 0;
    }
    
    #heading_container {
      padding-bottom: 3rem;
      width: 224px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }
  
    #heading_appliedfilters_sort{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    #price_range_filter_container {
      display: flex;
    }
  
    #products{
      width: 80%;
    }
  
   #products_container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin: 20px;
  }
  
  .product {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
      background-color: rgba(247, 247, 247, 0.47);
      text-align: center;
      border-radius: 5px;
      padding-bottom: 15px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
  }
  
  .product:hover {
      box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 25px -5px, rgba(0, 0, 0, 0.08) 0px 10px 10px -5px;
  }
  
  .product img {
      max-width: 100%;
      height: 200px;
      border-radius: 5px 5px 0 0;
  }
  
  .product h2 {
      font-size: 18px;
      margin: 1rem 0 0.5rem 0;
  }
  
  .product p {
      font-size: 16px;
      color:   rgb(106,105,106);
  }
  
  .product >button{
    border: hidden;
    background: rgb(229,229,229);
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s;
    padding: 6px 0;
    border-radius: 5px;
    color: rgb(106,105,106);
    margin: auto 10px;
    display: flex;
    justify-content: center;
     
    }
    #newimg{
        width: fit-content;
        height: 22px;
    }
    #heartbtn{
        background: transparent;
    }
    .product > button:hover{
        
        background: rgb(248,199,8);
        
        }
  
    #applied_filters_sort {
      display: flex;
      justify-content: space-between;
    }
    #reset_filters {
      display: flex;
      align-items: center;
    }
    
    footer * {
      font-family: "ClashDisplay Regular", sans-serif;
    }
    
    @media screen and (max-width: 750px) {
      #body {
        width: 90%;
        margin: auto;
      }
      #heading {
        font-size: 16px;
      }
      #products_container {
        grid-template-columns: repeat(2, 1fr);
      }
      #content {
        display: flex;
        flex-direction: column;
      }
      #filters {
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: space-around;
        font-size: 12px;
        flex-wrap: wrap;
        flex-direction: row;
      }
    }
    @media screen and (max-width: 400px) {
      #body {
        width: 95%;
        margin: auto;
      }
      #heading {
        font-size: 16px;
      }
      #products_container {
        grid-template-columns: repeat(1, 1fr);
      }
      #content {
        flex-direction: column;
      }
    } 
  
   
    /* new filter css */
    /* Style the filter section */
  
    #productSidebar{
      margin-left: 1.4rem;
      width: 17%;
    }
  
  
  #productSidebar h5 {
      opacity: 0.7;
      font-size: 15px;
      display: flex;
      margin: 5% 5px;
  }
  
  
  .filter {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    text-align: center;
    /* margin-right: 10px */
    
  }
  
  .filter form >div{
    display: flex;
    gap:15px;
    margin-top: 0.5em;
  }
  
  
  
  
  
  input[type="range"] {
    width: 100%;
  }
  
  
  
  
  #popularProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #popularProducts_head {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
  
  .product-carousel{
    display: flex;
    width: 100%;
      margin: auto;
      align-items: center;
  }
  
  .products-container{
    display: flex;
  }
  
  .products-container .product{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: rgb(247,247,247);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
   margin: auto;
  }
  
  .products-container .product >img{
  width: 100%;
  height: 10rem;
   
  }
  
  /* .products-container .product >button{
    border: hidden;
    background: none;
    cursor: pointer;
    font-size: 1.35rem;
    transition: color 0.3s;
    border: 2px solid red;
    border-radius: 5px;
    } */
  
  .prev-button{
    height: 2rem;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    margin-right: 2%;
  }
  .prev-button >img{
    width: 1rem;
   
  }
  .next-button{
    height: 2rem;
    border-radius: 1rem;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-left: 2%;
  }
  .next-button >img{
    width: 1rem;
  
  }
  
  .products-container .product h3 {
    font-size: 18px;
    margin: 1rem 0 0.5rem 0;
  }
  
  .products-container .product p {
    font-size: 16px;
    color:   rgb(255,156,66);
  }