body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(241, 243, 238, 0.582);
}

#all {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

img {
    border-radius: 5px;
}

#cart-container {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    margin-left: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    background-color: #fff;
    padding: 20px;
}
.brandcatdiv{
line-height: 30px;
}
.name{
    padding: 2px;
border: 1px solid #333;
border-radius: 6px;
}
.name>select{
    border: none;
    border-bottom: #333;
}

button:hover {
    cursor: pointer;
}

#items > .item, #tp {
    border-bottom: 1px solid #d4d4c2;
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;  
    cursor: pointer;
}

#items > .item h3 {
    margin-top: 0;
}

.item > div {
    margin-left: 20px;
    width: 70%;
}

h6, p, span {
    margin: 0;
    padding: 0;
}
.upperdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upperdiv >h4{
    font-size: 18px;
    font-weight: 400px; 
}
.newprice{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
    font-weight: 700px;
}
div h6 {
    display: inline;
}

h6 + button {
    margin: 10px;
}

#price > button {
    width: 100%;
    margin: auto;
    padding: 5px;
    background-color: orange; 
    border-color: orange;
    color: black;
    border-radius: 6px;
}
#price  button :hover{
    cursor: pointer;
    color: #ccc;
}

#tp > h2 {
    margin: auto;
    margin-right: 5px;
}
#price-cost{
    display: flex;
    justify-content: flex-end;
}

#tp {
    justify-content: space-between;
    height: 50px;
    padding: 5px;
   border-bottom: none;
    background-color: #fff;
}

#price {
    width: 30%;
    height: fit-content;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 10px;
}

#price span {
    float: right;
    font-weight: bold;
}
.newprice h6{
    text-decoration: none;
    
}
.newprice>h6:nth-child(1){
    text-decoration: line-through;
    text-decoration-color: green;
}
h6 {
    font-size: 18px;
    font-weight: 500;
    color: black; 
}

.item {
    padding: 10px;
}
.otherinfo{
    font-size: 14px;
    font-weight: 400;
}

hr{
    opacity: 0.3;
}
#removeBtn {
    color: green; 
    background-color: transparent;
    font-family: 'Arial', sans-serif;
    border: none;
    font-weight: 600;
}

#removeBtn:hover {
    color: #f00;
}

/* Media Queries */

#total-cost{
    font-size: 18px;
    font-weight: 600;
}

.shopnow{
    margin-bottom: 0px;
}
@keyframes slide {
    0% { left: 0; }
    100% { left: 50%; }
}
.shopnow {
    width: 200px;
    /* height: 50px;  */
    /* background-color: rgb(160, 220, 243); */
    position: relative;
    animation: slide 3s linear infinite alternate;
    overflow: hidden;
}



#headerUnderline {
    width: 100%;
    border-bottom: 1px solid #F5F5F6;
    margin-bottom: 30px;
    background-color: #404240;
    margin-top: -10px;
}

#header {
    display: flex;
    width: 92%;
    color: rgb(105, 107, 121);
    font-size: 10px;
    margin: 20px auto 10px;
    justify-content: space-between;
}

.navbarMiddle {
    letter-spacing: 3px;
    font-weight: bolder;
    color: white;
}


#paymentNavSecure {
    display: flex;
    align-items: center;
}

#paymentNavSecure img {
    margin-right: 5px;
}


.cart-page {
    text-decoration: none;
    color: #f7c706;
    border-bottom: 2px solid #f7c706;
}


.navbarMiddle {
    letter-spacing: 3px;
    font-weight: bolder;
    color: white;
}

@media screen and (max-width: 480px) {
    /* Adjust styles for screens with a maximum width of 480 pixels */
    #header {
        padding: 10px;
    }

    #cart-container {
        padding: 5px;
    }

    #price {
        padding: 5px;
    }
}
@media screen and (max-width: 768px) {
    /* Adjust styles for screens with a maximum width of 768 pixels */
     #all {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        margin-right: 5%;
        width: 100%;
      }
     #price{
          width: 90%;
         padding: 10px;
         justify-content: space-around;
      }
      #cart-container {
          width: 90%;
          margin:0;
      }
   
   
    #header {
        flex-direction: column;
    }

    #paymentNavSecure {
        margin-top: 10px;
    }

    #cart-container {
        padding: 10px;
    }

    #price {
        max-width: 100%;
    }
}