body{
    margin: 0;
    padding: 0;
}
#itemdetails{
    width: 90%;
    margin: 2% auto;
    display: flex;
}

#productpics{
    width: 50%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
#mainPage{
    display: flex;
}
#thumbnails{
    display: flex;
    flex-direction: column;
}
#thumbnails >img{
    width: 120px;
    border: 1px solid black;
    margin-bottom: 10px;border-radius: 6px;
}
#pics>img{
width: 400px;
margin: 0 2rem;
height: 30rem;
border-radius: 6px;
}

#description{
    width: 50%;
    margin-left: 3.3rem;
    display: flex;
    flex-direction: column;
}
#description  :nth-child(1) button{
   width: 80%;
   margin: auto;
   background-color: #f7c706;
    border-radius: 19px;
    padding: 5px 0;
    margin-bottom: 1em;
    cursor: pointer;
}
#description  :nth-child(1) select{
    width: 70%;
    background-color: #f7c706;
     border-radius: 19px;
     padding: 5px 0;
     margin-bottom: 1em;
     cursor: pointer;
 }

.quantity{
    display: flex;
    flex-direction: column;
    
}

body {
    font-family: Arial, sans-serif;
}



.overview-title {
    margin-left: 1rem;
}

.content-container {
    display: flex;
    margin-left: 1rem;
}

.section-button {
    border: hidden;
    font-size: 24px;
    font-weight: 500;
    background-color: white;
}

.description {
    width: 45%;
    justify-content: center;
    margin: 1rem 4rem 2rem 1.5rem;
}

.description-text {
    margin: 1rem 0;
}

.specifications {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.specifications-table {
    border: 1px solid gray;
    width: 100%;
    margin-top: 2rem;
}

.table-row {
    display: flex;
    width: 100%;
    align-items: center;
}

.table-label {
    width: 20%;
    padding: 0.7rem 1rem;
    font-size: 16px;
    color: rgb(128, 129, 131);
    background-color: rgb(249, 250, 251);
}

.show-more-button-container {
    display: flex;
    justify-content: center;
}

.show-more-button {
    background-color: rgb(249, 250, 251);
    border-radius: 2rem;
    padding: 0.6rem 1.2rem;
    font-size: 13px;
    border: hidden;
    font-weight: 600;
    cursor: pointer;
}

.divider {
    opacity: 0.5;
}
.reviews-section {
    display: flex;
    justify-content: space-between;
  }
  
  .reviews-header {
    display: flex;
    padding: 1rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .star-rating {
    font-size: 20px;
    font-weight: 700;
    margin: 0 1.4rem 0 1rem;
  }
  
  .star-icon {
    margin: 0 0.2rem;
  }
  
  .write-review-btn {
    font-size: 16px;
    padding: 0;
    height: 37px;
    width: 181px;
    margin: 4px 15px;
    background-color: white;
    border-radius: 5px;
  }
  

  .qa-section {
    width: 100%;
    /* display: flex; */
    justify-content: space-between;
    padding: 1rem 0;
    height: 2.1rem;
  }
  
  .separator {
    opacity: 0.5;
    height: 5px;
  }
  
  .qa-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    height: 2.1rem;
    margin: -18px;
  }
  
  .qa-header-left {
    font-size: 20px;
    font-weight: 700;
    margin: 0 1.4rem 0 1rem;
  }
  
  .qa-title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 1.4rem 0 1rem;
  }
  
  .ask-question {
    font-size: 20px;
    font-weight: 500;
    margin: 0 1.4rem 0 1rem;
    color: rgb(112, 150, 184);
  }
  
  .qa-header-right {
    margin: 4px 25px;
  }
  
  .qa-header-right img {
    width: 30px;
    height: 25px;
  }
  
  .product-carousel{
    display: flex;
    width: 93%;
      margin: auto;
      align-items: center;
  }
  
  .products-container{
    display: flex;
  }
  
  .products-container .product{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    background-color: rgb(247,247,247);
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 20%;
   margin: 0 5px;
  }
  
  .products-container .product >img{
  width: 100%;
  height: 10rem;
   
  }
  
  .products-container .product >button{
    border: hidden;
    position: absolute;
    background: none;
    cursor: pointer;
    /* width: 20rem; */
    font-size: 1.35rem;
    transition: color 0.3s;
     
    }
  
  .prev-button{
    height: 2rem;
    border-radius: 1rem;
    background-color: white;
    cursor: pointer;
    margin-right: 2%;
  }
  .prev-button >img{
    width: 1rem;
   
  }
  .next-button{
    height: 2rem;
    border-radius: 1rem;
    background-color: #f7f7f7;
    cursor: pointer;
    margin-left: 2%;
  }
  .next-button >img{
    width: 1rem;
  
  }
  
  .products-container .product h3 {
    font-size: 18px;
    margin: 1rem 0 0.5rem 0;
  }
  
  .products-container .product p {
    font-size: 16px;
    color:   rgb(255,156,66);
  }